## GTD Predictor

In this project I...

In [48]:
from kaggle.api.kaggle_api_extended import KaggleApi
import pandas as pd
data_path = "./data"

In [57]:
api = KaggleApi()
api.authenticate()
api.dataset_download_files("START-UMD/gtd", quiet=False, path=data_path, unzip=True)

  0%|          | 0.00/27.9M [00:00<?, ?B/s]

Downloading gtd.zip to ./data

100%|██████████| 27.9M/27.9M [00:05<00:00, 6.06MB/s]

In [62]:
csv_data = pd.read_csv(data_path + "/globalterrorismdb_0718dist.csv",
                        encoding = "ISO-8859-1",
                        low_memory=False,
                        verbose=True)

Tokenization took: 1105.77 ms
Type conversion took: 3914.88 ms
Parser memory cleanup took: 46.16 ms

In [64]:
data = pd.DataFrame(csv_data)
data.head()

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,197000000001,1970,7,2,NaN,0,NaN,58,Dominican Republic,2,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
1,197000000002,1970,0,0,NaN,0,NaN,130,Mexico,1,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN
2,197001000001,1970,1,0,NaN,0,NaN,160,Philippines,5,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
3,197001000002,1970,1,0,NaN,0,NaN,78,Greece,8,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
4,197001000003,1970,1,0,NaN,0,NaN,101,Japan,4,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN