## Global Terrorism Attribution Predictor

In this project I...

Imports and field variables

In [1]:
from kaggle.api.kaggle_api_extended import KaggleApi
import pandas as pd
from sklearn.linear_model import SGDClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn import preprocessing
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt
data_path = "./data"

Download Global Terrorism Database from Kaggle

In [2]:
api = KaggleApi()
api.authenticate()
api.dataset_download_files("START-UMD/gtd", quiet=False, path=data_path)

gtd.zip: Skipping, found more recently modified local copy (use --force to force download)

Read data into Pandas DataFrame

In [3]:
# skipcols=lambda x: x not in ["extended", "addnotes", "scite1", "scite2", "scite3", "dbsource"]
usecols=["eventid",
         "imonth",
         "iday",
         "country",
         "region",
         "provstate",
         "city",
         "attacktype1",
         "targtype1",
         "targsubtype1",
         "natlty1",
         "gname",
         "weaptype1",
         "ransom"]

data = pd.read_csv(data_path + "/gtd.zip",
                        encoding = "ISO-8859-1",
                        compression='zip',
                        usecols=usecols)

set dTypes

In [4]:
data = pd.DataFrame(data.dropna())
data['attacktype1'] = data.attacktype1.astype('category')
data['targtype1'] = data.targtype1.astype('category')
data['targsubtype1'] = data.targsubtype1.astype('int').astype('category')
data['natlty1'] = data.natlty1.astype('int').astype('category')
data['weaptype1'] = data.weaptype1.astype('category')
data['ransom'] = data.ransom.astype('int').astype('category')

In [5]:
pd.set_option('display.max_columns', None) 
data.head()

,eventid,imonth,iday,country,region,provstate,city,attacktype1,targtype1,targsubtype1,natlty1,gname,weaptype1,ransom
1,197000000002,0,0,130,1,Federal,Mexico city,6,7,45,21,23rd of September Communist League,13,1
2,197001000001,1,0,160,5,Tarlac,Unknown,1,10,54,217,Unknown,13,0
3,197001000002,1,0,78,8,Attica,Athens,3,7,46,217,Unknown,6,0
4,197001000003,1,0,101,4,Fukouka,Fukouka,7,7,46,217,Unknown,8,0
5,197001010002,1,1,217,1,Illinois,Cairo,2,3,22,217,Black Nationalists,5,0

In [6]:
data.describe()

            eventid        imonth          iday       country        region
count  7.297100e+04  72971.000000  72971.000000  72971.000000  72971.000000
mean   1.990256e+11      6.497348     15.402681    142.611873      6.019761
std    1.048609e+09      3.401263      8.807792    129.704451      3.231550
min    1.970000e+11      0.000000      0.000000      4.000000      1.000000
25%    1.983091e+11      4.000000      8.000000     61.000000      3.000000
50%    1.989072e+11      6.000000     15.000000    110.000000      6.000000
75%    1.994122e+11      9.000000     23.000000    183.000000      9.000000
max    2.017123e+11     12.000000     31.000000   1004.000000     12.000000

Filter out unattributed attacks

In [7]:
attributed = data.loc[data['gname'] != "Unknown"]

In [8]:
attributed = pd.DataFrame(attributed.dropna())
# attributed = attributed.iloc[:1000]
attributed.shape

(48826, 14)

In [9]:
to_fit = attributed.select_dtypes(include=['object'])
le = preprocessing.LabelEncoder()
attributed = attributed.apply(le.fit_transform)
attributed.head()

,eventid,imonth,iday,country,region,provstate,city,attacktype1,targtype1,targsubtype1,natlty1,gname,weaptype1,ransom
1,0,0,0,96,0,456,7623,5,6,43,13,10,11,2
5,1,1,1,154,0,587,1962,1,2,21,160,454,3,1
6,2,1,2,155,2,899,7820,0,2,24,161,2364,3,1
8,3,1,2,154,0,1462,7010,6,3,27,160,1614,6,1
9,4,1,3,154,0,1462,7010,6,1,20,160,1614,6,1

In [10]:
# 1. INSTANTIATE
# enc = preprocessing.OneHotEncoder()

# # 2. FIT
# enc.fit(attributed)

# 3. Transform
# onehotlabels = enc.transform(attributed).toarray()
# attributed = pd.get_dummies(attributed)
# attributed.shape

In [11]:
# plt.imshow(attributed.corr(), cmap=plt.cm.Reds, interpolation='nearest')
# plt.colorbar()
# tick_marks = [i for i in range(len(attributed.columns))]
# plt.xticks(tick_marks, attributed.columns, rotation='vertical')
# plt.yticks(tick_marks, attributed.columns)
# plt.show()

Making a copy of the attributeddataframe which does not contain the dependent variable

In [12]:
independent_vars = attributed.copy()
independent_vars = independent_vars[independent_vars.columns.drop(list(independent_vars.filter(regex='gname')))]
independent_vars.shape

(48826, 13)

Making a dataframe with of the dependent variables (organizations to which the attacks were attribued)

In [13]:
dependent_vars = pd.DataFrame(attributed.loc[:,list(attributed.filter(regex='gname'))])
dependent_vars.shape

(48826, 1)

Split the data into training and test sets

In [14]:
independant_size = independent_vars.shape
dependant_size = dependent_vars.shape
if independant_size[0] != dependant_size[0]:
    raise ValueError('Independent and Dependant DFs do not match')

split_size = int(independant_size[0] * 0.7)

training_independant_vars = independent_vars.iloc[:split_size]
test_independant_vars = independent_vars.iloc[split_size:]
print(training_independant_vars.shape)
print(test_independant_vars.shape)

training_dependant_vars = dependent_vars.iloc[:split_size]
test_dependant_vars = dependent_vars.iloc[split_size:]

print(training_dependant_vars.shape)
print(test_dependant_vars.shape)

(34178, 13)
(14648, 13)
(34178, 1)
(14648, 1)

TODO: Implement Training model

In [16]:
reg = RandomForestClassifier()
reg.fit(training_independant_vars, training_dependant_vars.values.ravel())
# reg.fit(train_fold, train_y.values.ravel())
predictions = reg.predict(test_independant_vars)
print(predictions)
total = accuracy_score(test_dependant_vars, predictions)
print(total)

/Users/steven/anaconda3/envs/terrorism/lib/python3.7/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

[1513 1513 1611 ... 1611  965 1598]
0.23320589841616604